<div class="front-end-layout">

    <div class="main-sec inner-page">
        <header class="py-sm-3 pt-3 pb-2" id="home">
            <div class="container">

                <div class="top-w3pvt d-flex">
                    <div id="logo">
                        <h1> <a routerLink="/home"><span class="log-w3pvt">B</span>aggage</a> <label
                                class="sub-des">Online Store</label></h1>
                    </div>
                </div>
                <div class="nav-top-wthree">
                    <nav>
                        <ul class="menu">
                            <li><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/manager">Product Manager</a></li>
                            <li><a routerLink="/about">About Us</a></li>
                            <li class="active"><a routerLink="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    
    <div class="container">
        <h3 style="text-align: center; margin-top: 3rem;">Contact us</h3>
        <div class="row contact_information" style="margin-top: 3rem;">
            <div class="col-md-6">

                <form role="form" id="contactForm" method="post">
                    <div class="form-group">
                        <label for="contactName">Name</label>
                        <input class="form-control" type="text" id="contactName" name="contactName"
                            placeholder="Enter Name" />
                    </div>
                    <div class="form-group">
                        <label for="contactEmail">Email</label>
                        <input class="form-control" type="email" id="contactEmail" name="contactEmail"
                            placeholder="Enter Email" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input class="form-control" type="tel" name="phone" id="phone" placeholder="Enter Phone">
                    </div>
                    <div class="form-group">
                        <label for="contactSubtitle">Subtitle</label>
                        <input class="form-control" type="text" name="contactSubtitle" id="contactSubtitle" placeholder="Write somthing do you want">
                    </div>
                    <div class="form-group">
                        <label for="contactMessage">Message</label>
                        <textarea class="form-control" id="contactMessage" name="contactMessage" rows="3"
                            placeholder="Enter Message"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" id="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </form>

            </div>
            <div class="col-md-6 ">
                <label>Địa chỉ bản đồ</label>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0036165903634!2d105.76347111535455!3d21.032541293024106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454bbe135a505%3A0x152cff27eb8815ee!2zxJDGoW4gbmd1ecOqbiA1IGvDvSB0w7pjIHjDoSBN4bu5IMSQw6xuaA!5e0!3m2!1svi!2s!4v1588864868100!5m2!1svi!2s"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>

            <!-- <div class="col-lg-4 col-md-6 ">
                <div class="mt-5 information-wthree">
                    <h4 class="text-uppercase mb-4"><span class="fa fa-comments"></span> Communication</h4>
                    <p class="cont-wthree-para mb-3 text-capitalize">for general queries, including property Sales and
                        constructions, please email us at <a
                            href="mailto:quocnvph08789@fpt.edu.vn">quocnvph08789@fpt.edu.vn</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="mt-5 information-wthree">
                    <h4 class="text-uppercase mb-4"><span class="fa fa-life-ring"></span> Technical Support</h4>
                    <p class="cont-wthree-para mb-3 text-capitalize">we are ready to help! if you have any queries or
                        issues, contact us for support <label>0123456789</label>.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="mt-5 information-wthree">
                    <h4 class="text-uppercase mb-4"><span class="fa fa-map"></span> Others</h4>
                    <p class="cont-wthree-para mb-3 text-capitalize">we are ready to help! if you have any queries or
                        issues, contact us for support <label>0123456789</label>.</p>
                </div>
            </div> -->
        </div>

    </div>



    <!--/newsletter -->
    <section class="newsletter-w3pvt py-5">
        <div class="container py-md-5">
            <form method="post" action="#">
                <p class="text-center">Subscribe to the Handbags Store mailing list to receive updates on new arrivals,
                    special offers and other discount information.</p>
                <div class="row subscribe-sec">
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="email" placeholder="Enter Your Email.."
                            name="email" required="">

                    </div>
                    <div class="col-md-3">

                        <button type="submit" class="btn submit">Subscribe</button>
                    </div>

                </div>

            </form>
        </div>
    </section>

    <section class="shipping-wthree">
        <div class="shiopping-grids d-lg-flex">
            <div class="col-lg-4 shiopping-w3pvt-gd text-center">
                <div class="icon-gd"><span class="fa fa-truck" aria-hidden="true"></span>
                </div>
                <div class="icon-gd-info">
                    <h3>FREE SHIPPING</h3>
                    <p>On all order over $2000</p>
                </div>
            </div>
            <div class="col-lg-4 shiopping-w3pvt-gd sec text-center">
                <div class="icon-gd"><span class="fa fa-bullhorn" aria-hidden="true"></span></div>
                <div class="icon-gd-info">
                    <h3>FREE RETURN</h3>
                    <p>On 1st exchange in 30 days</p>
                </div>
            </div>
            <div class="col-lg-4 shiopping-w3pvt-gd text-center">
                <div class="icon-gd"> <span class="fa fa-gift" aria-hidden="true"></span></div>
                <div class="icon-gd-info">
                    <h3>MEMBER DISCOUNT</h3>
                    <p>Register &amp; save up to $29%</p>
                </div>

            </div>
        </div>

    </section>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <h6>About</h6>
                    <p class="text-justify">This is a simple website</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/manager">Product Manager</a></li>
                        <li><a routerLink="/about">About Us</a></li>

                        <li><a routerLink="/contact">Contact</a></li>

                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Contact Info</h6>
                    <p class="text-justify">
                        Phone : 0123456789
                    </p>
                    <p class="text-justify">Email : <a
                            href="mailto:quocnvph08789@fpt.edu.vn">quocnvph08789@fpt.edu.vn</a></p>
                    <p class="text-justify">Address: Khu đơn nguyên 5, kí túc xá Mỹ Đình 2, Nam Từ Liêm, Hà Nội</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Edit by quocnvph08789
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>