<div class="front-end-layout">
  <div class="main-sec inner-page">
    <header class="py-sm-3 pt-3 pb-2" id="home">
      <div class="container">
        <div class="top-w3pvt d-flex">
          <div id="logo">
            <h1> <a routerLink="/home"><span class="log-w3pvt">B</span>aggage</a> <label class="sub-des">Online
                Store</label></h1>
          </div>
        </div>
        <div class="nav-top-wthree">
          <nav>

            <ul class="menu">
              <li><a routerLink="/home">Home</a></li>
              <li><a routerLink="/manager">Product Manager</a></li>
              <li><a routerLink="/about">About Us</a></li>

              <li><a routerLink="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
  <div class="container" style="margin-top: 1rem; margin-bottom: 1rem;">
    <h3 style="text-align: center;">Edit Product</h3>
    <form *ngIf="product">
      <div class="form-group">
        <label for="">Product Name</label>
        <input type="email" class="form-control" name="name" [(ngModel)]="product.name">

      </div>
      <div class="form-group">
        <label for="">Price</label>
        <input type="number" class="form-control" name="price" [(ngModel)]="product.price">

      </div>
      <div class="form-group">
        <label for="">Image</label>
        <input type="text" class="form-control" name="image" [(ngModel)]="product.img">

      </div>
      <div class="form-group">
        <label for="">Description</label>
        <input type="text" class="form-control" name="desc" [(ngModel)]="product.desc">

      </div>
      <button class="btn btn-primary" (click)="updateProduct()">Update</button>
    </form>
  </div>
  <section class="banner-bottom py-5">
    <div class="container py-md-3">
      <div class="row grids-wthree-info text-center">
        <div class="col-lg-4 ab-content">
          <div class="ab-info-con">
            <h4>Fast & Free Delivery</h4>
            <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus
              libero.</p>
          </div>
        </div>
        <div class="col-lg-4 ab-content">
          <div class="ab-info-con">
            <h4>Safe & Secure Payments</h4>
            <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus
              libero.</p>
          </div>
        </div>
        <div class="col-lg-4 ab-content">
          <div class="ab-info-con">
            <h4>100% Money Back Guarantee</h4>
            <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus
              libero.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="newsletter-w3pvt py-5">
    <div class="container py-md-5">
      <form method="post" action="#">
        <p class="text-center">Subscribe to the Handbags Store mailing list to receive updates on new arrivals, special
          offers and other discount information.</p>
        <div class="row subscribe-sec">
          <div class="col-md-9">
            <input type="email" class="form-control" id="email" placeholder="Enter Your Email.." name="email"
              required="">

          </div>
          <div class="col-md-3">

            <button type="submit" class="btn submit">Subscribe</button>
          </div>

        </div>
      </form>
    </div>
  </section>
  <!--//newsletter -->
  <!--/shipping-->
  <section class="shipping-wthree">
    <div class="shiopping-grids d-lg-flex">
      <div class="col-lg-4 shiopping-w3pvt-gd text-center">
        <div class="icon-gd"><span class="fa fa-truck" aria-hidden="true"></span>
        </div>
        <div class="icon-gd-info">
          <h3>FREE SHIPPING</h3>
          <p>On all order over $2000</p>
        </div>
      </div>
      <div class="col-lg-4 shiopping-w3pvt-gd sec text-center">
        <div class="icon-gd"><span class="fa fa-bullhorn" aria-hidden="true"></span></div>
        <div class="icon-gd-info">
          <h3>FREE RETURN</h3>
          <p>On 1st exchange in 30 days</p>
        </div>
      </div>
      <div class="col-lg-4 shiopping-w3pvt-gd text-center">
        <div class="icon-gd"> <span class="fa fa-gift" aria-hidden="true"></span></div>
        <div class="icon-gd-info">
          <h3>MEMBER DISCOUNT</h3>
          <p>Register &amp; save up to $29%</p>
        </div>

      </div>
    </div>

  </section>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h6>About</h6>
          <p class="text-justify">This is a simple website</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/manager">Product Manager</a></li>
            <li><a routerLink="/about">About Us</a></li>

            <li><a routerLink="/contact">Contact</a></li>

          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Contact Info</h6>
          <p class="text-justify">
            Phone : 0123456789
          </p>
          <p class="text-justify">Email : <a href="mailto:quocnvph08789@fpt.edu.vn">quocnvph08789@fpt.edu.vn</a></p>
          <p class="text-justify">Address: Khu đơn nguyên 5, kí túc xá Mỹ Đình 2, Nam Từ Liêm, Hà Nội</p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Edit by quocnvph08789
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>